<!DOCTYPE html>
<html ng-app="quoteBook">

<head>
    <meta charset="utf-8">
    <title>Quote Book</title>
    <link rel="stylesheet" href="styles.css"></link>
</head>

<body ng-controller='quoteController'>
    <div ng-repeat="quote in quotes | filter: filterText" class ="quotes">
        <p>
            <span class='text'>{{quote.text}}</span>
            <span class='author'> -- {{quote.author}}</span>
            <button ng-click="deleteMe(quote.text)">x</button>
        </p>
    </div>
    <div class="quotes">
    <input type="text" placeholder="Add new quote!" ng-model='newQuoteText' />
    <input type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor' />
    <button ng-click="addQuote()">+</button>
    </div>
    <div class="sort">
        Text: <input type='text' ng-model="filterText.text" />
        Author: <input type='text' ng-model="filterText.author" />
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="dataService.js"></script>
    <script src="controller.js"></script>
</body>

</html>